.exercises__top{
    margin-bottom: 20px;
    text-align: center;
}
.exercises__top h2{
    font-size: 2.4rem;
    margin-bottom: 5px;
}
.exercises__top p{
    color: var(--heading-color);
    font-size: 1rem;
    line-height: 1.5rem;
}
.exercises__wrapper{
    background: var(--bg-gradient);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}
.exercises__item{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 33%;
}
.exercises__icon{
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 5px;
    background: #fff;
}
.exercises__icon img {
    width: 100%;
}
.exercises__content h4{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 0.6rem;
}
.exercises__content p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.801);
}